stages:
  - lint
  - unit_test
pre-commit:
  stage: lint
  image: python:3.13
  script:
    - pip install --upgrade pip
    - pip install --group dev .
    - pip install --group lint .
    - pre-commit run --all-files
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "DTN"
pytest:
  stage: unit_test
  image: python:3.13
  script:
    - pip install --upgrade pip
    - pip install --group dev .
    - pip install --group test .
    - pytest
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "DTN"